# Python-specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
venv_new/
ENV/
.env
.venv

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Test and development files
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Local development
.git
.github

# Don't ignore these files
!serviceAccountKey.json 